{%  load static %}
{%  static 'uploads' as baseUrl %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>Cbz-Notes</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" href="{% static 'images/Kishor-Publications.png'%}" type="image/x-icon">
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <link rel="stylesheet" href="{% static 'assets/css/dropdown.css' %}">
        <link rel="stylesheet" href="https://codepen.io/sean_codes/pen/e6f1ea02b2c69845a796acd688299990.css?v=13">
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="inner">
					<h1>Kishor-Publication</h1>
					<p>A Place for all your <a href="#">CBZ-Notes</a></p>
				</div>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Banner -->
					<section id="intro" class="main">
						<span class="icon fa-diamond major"></span>
						<ul class="actions">
                            <h1>CBZ-NOTES</h1>
                        <nav>
                            <menu>
                                <menuitem id="demo1">
                                    <a href="{% url 'sem_1' %}">Sem-1</a>
                                </menuitem>
                            </menu>
                        </nav>
                         <nav>
                            <menu>
                                <menuitem id="demo1">
                                    <a href="{% url 'sem_2' %}">Sem-2 </a>
                                </menuitem>
                            </menu>
                        </nav>
                        <nav>
                            <menu>
                                <menuitem id="demo1">
                                    <a href="{% url 'sem_3' %}">Sem-3 </a>
                                </menuitem>
                            </menu>
                        </nav>
                        <nav>
                            <menu>
                                <menuitem id="demo1">
                                    <a href="{% url 'sem_4' %}">Sem-4 </a>
                                </menuitem>
                            </menu>
                        </nav>
                        <nav>
                            <menu>
                                <menuitem id="demo1">
                                    <a href="{% url 'sem_5' %}">Sem-5 </a>
                                </menuitem>
                            </menu>
                        </nav>
                        <nav>
                            <menu>
                                <menuitem id="demo1">
                                    <a href="{% url 'sem_6' %}">Sem-6 </a>
                                </menuitem>
                            </menu>
                        </nav><br><br>
                            <h1>OTHER CBZ-NOTES</h1>
                         <nav>
                            <menu>
                                <menuitem id="demo1">
                                    <a href="{% url 'chemistry' %}">Chemistry </a>
                                </menuitem>
                            </menu>
                        </nav>
                        <nav>
                            <menu>
                                <menuitem id="demo2">
                                    <a href="{% url 'zoology' %}">Zoology </a>
                                </menuitem>
                            </menu>
                        </nav>
                         <nav>
                            <menu>
                                <menuitem id="demo3">
                                    <a href="{% url 'botany' %}">Botany</a>
                                </menuitem>
                            </menu>
                        </nav>
						</ul>
                    </section>
					<section id="cta" class="main special">
						<h2>Kishor Publications</h2>
						<p>The Sole Aim of this publication iS to provide CBZ Notes<br />
						Everyone Can use it for absolutely free of cost <br />
						Contact us for any Modifications.</p>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="https://twitter.com/kicchakishor021?s=09" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://www.facebook.com/kiccha.kishor.33" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="https://www.linkedin.com/in/kicchakishor-creations-2030b718b" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="mailto: kicchakishor025@gmail.com" class="icon fa-envelope"><span class="label" >Email</span></a></li><br>
                            <li class="fa fa-phone" ><span>   +91-8197221183 </span></li>
						</ul>
                    </footer>


		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
            </div>
	</body>
</html>
